/* Estilos personalizados para las cartas */
.custom-card {
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
  background-color: #111;
  position: relative;
  overflow: hidden;
  color: #fff;
  border-radius: 10px;
}

.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen se ajusta al tamaño del contenedor sin deformarse */
  object-position: center top; /* La imagen se alinea en la parte superior del contenedor */
  transition: filter 0.3s ease-in-out; /* Transición para el efecto oscuro */
  filter: brightness(100%); /* Establecemos la imagen sin efecto oscuro */
}

.custom-card:hover img {
  filter: brightness(40%); /* Al pasar el mouse, mostramos la imagen con efecto oscuro */
}

.custom-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Color oscuro para toda la carta */
  transition: all 0.3s ease-in-out;
  z-index: 1; /* Aseguramos que esté sobre la imagen */
}

.custom-card:hover::after {
  height: 50%; /* Al pasar el mouse, mostramos el color oscuro solo en la mitad superior */
}

.custom-card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 2; /* Aseguramos que el contenido esté sobre el color oscuro */
}

.custom-card h1 {
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
}

.custom-card p {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
}

.custom-card .btn-primary {
  background-color: #D5D80E;
  border-color: #ccc;
  color: #000;
  font-family: Arial, sans-serif;
}

.custom-card .btn-primary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
