.works-grid {
  display: flex; /* Utilizamos flexbox */
  justify-content: space-between
}

.work-item {
  flex-basis: calc(50% - 20px); /* Ancho de cada work-item, con un margen derecho de 20px */
  margin-right: 20px;
}

.work-item img {
  height: 5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 50%; /* Esto hace que la imagen tenga una forma circular */
  overflow: hidden; /* Asegura que la imagen se ajuste correctamente al borde redondeado */
}


.work-item h2 {
 font-size:xx-large;
}

.work-item h3 {
  font-size: larger;
  font-style: italic;
 }

 .work-item p {
  font-size: medium;
  text-align: justify;
}

 .work-item h4 {
  font-size: small;
  color: gray;
 }