.works .works-carousel,
.works .testimonials-slider {
  overflow: hidden;
  position: relative; /* Añade esta línea para establecer un contexto de apilamiento */
}

.works .works-item {
  box-sizing: content-box;
  min-height: 320px;
  overflow: hidden;
  height: 500px; /* Ajusta la altura según tus preferencias */
  position: relative; /* Añade esta línea para establecer un contexto de apilamiento */
}

.works .works-item .testimonial-img {
  width: 100px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 100px;
  border-radius: 50%; /* Aplica una forma circular */
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del círculo */
  overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el círculo */
  position: relative; /* Añade esta línea para establecer un contexto de apilamiento */
}

.works .works-item .testimonial-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
  .works .works-item h2 {
    margin-top: 2rem;
    font-size: 25px;
  }

  .works .works-item h3 {
    font-size: 18px;
    margin-top: 1rem;
    font-weight: bold;
    color: #fff;
  }
  
  .works .works-item h4 {
    font-size: 14px;
    margin-top: 1rem;
    color: #999;
  }
  
  .works .works-item .quote-icon-left,
  .works .works-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.25);
    font-size: 26px;
  }
  
  .works .works-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .works .works-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .works .works-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    height: 12rem;
  }
  
  .works .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .works .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .works .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #18d26e;
  }
  